<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container-fluid px-40">
        <div class="heading  display-2">
            TODO APP
        </div>
        <form action='/addtask' method="post" >
            <div class="des form-group">
           
                <lable class="text-muted" for="des">Description</lable><br>
                <input  class="form-control form-control-lg"type="text" id="des" name="description" required>
            </div>
            <div class="cate_date ">
                <div class="row">
                    <div class=" col-sm">
                        <label  class="text-muted" for="cat">CATEGORY</label><br>
                        <select class="form-control form-control-lg" name="category" id="cat">
                        <option value="personal">Personal</option>
                        <option value="work">Work</option>
                        <option value="study">Study</option>
                        <option value="grocerry">Grocery</option>
                        <option value="cleaning">Cleaning</option>
                        </select>
                    </div>
                    <div class="date col-sm">
                        <lable class="text-muted" for="date">Due Date</lable><br>
                        <input  class="form-control form-control-lg" type="date" id="date" name="date" required>
                    </div>
                </div>
               
                <div class="buttons row">
                    <div class="addtask btn btn_size btn-lg btn-block col-sm">
                        <i class="fas fa-plus-square"></i>
                       
                        <input type="submit" class="btn btn-primary"  value=" ADD TASk"></i>
                       
                    </div>
                    <button class="btn btn-danger col-sm" onclick="myfun()">
                        Delete
                    </button>
                </div>  
        </form>
        
            <div>
                <div class="display-4 ">Tasks Pending </div>
                <% for(var i in list){ %>
                    <% console.log(list[i].completed) %>
                    <%if(list[i].completed == false) { %>
                        <div class="card">
                            <h5 class="card-header"> 
                                <input class="boxes" type="checkbox" name='box' value="<%= list[i]._id %>"></a>
                                <%= list[i].category %></h5>
                            <div class="card-body">
                            <h5 class="card-title"> <%= list[i].description %> </h5>
                            <p class="card-text"></p>
                           
                            <%= list[i].duedate %> 
                            </div>
                        </div>
                        <div class="mt-4">
    
                        </div>
                    <% } %>
                   
                <% } %>
            </div>
    </div>
    
    
    <script src="https://kit.fontawesome.com/8e4ebb668a.js" crossorigin="anonymous"></script>
    <script src="/js/fetch.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>
</body>
</html>